{% extends "paginas/modelo.html" %}

{% block conteudo %}

<h3> 
    Lista de <b>Ordens de Compra</b>
</h3>

<hr>

<table class="table table-striped">
    <thead>
        <th>Nome</th>
        <th>Prefeitura</th>
        <th>Cidade</th>
        <th>produtos</th>
        <th>Entregue</th>
        <th>Opções</th>
    </thead>
   <tbody>

    {% for object in object_list %}
    <tr>

        <td>{{object.produtos}}</td>
        <td>{{object.prefeitura}}</td>
        <td>{{object.cidade}}</td>
        <td>{{object.entregue}}</td>

        <td>
        <a href="{% url 'editar-produtos' object.pk %}" class="btn btn-sm btn-out">
            Editar
        </a>

        <a href="{% url 'excluir-produtos' object.pk %}" class="btn btn-sm btn-out">
            Excluir
        </a>
    {% empty %}
        <tr>
            <td colspan="3">Nenhum registro encontrado.</td>
        </tr>

    {% endfor %}

   </tbody>
</table>

{% endblock %}