{% extends "paginas/modelo.html" %}

{% block conteudo %}

<h3> 
    Lista de <b>Prefeituras</b>
</h3>

<hr>

    {% load crispy_forms_tags %}

    {% include 'cadastros/list/filters_form.html' %}

<table class="table table-striped">
    <thead>
        <th>Nome</th>
        <th>Cidade</th>
        <th>Opções</th>
    </thead>
   <tbody>

    {% for object in object_list %}
    <tr>

        <td>{{object.nome}}</td>
        <td>{{object.cidade}}</td>
        <td>
        <a href="{% url 'editar-prefeitura' object.pk %}" class="btn btn-sm btn-out">
            Editar
        </a>

        <a href="{% url 'excluir-prefeitura' object.pk %}" class="btn btn-sm btn-out">
            Excluir
        </a>
    {% empty %}
        <tr>
            <td colspan="3">Nenhum registro encontrado.</td>
        </tr>

    {% endfor %}

   </tbody>
</table>

{% endblock %}