{% extends "paginas/modelo.html" %}

{% block conteudo %}

<h3> 
    Lista de <b>Prefeituras</b>
</h3>

<hr>
<a href="{% url 'cadastrar-prefeitura' %}" class="btn btn-primary">
    Cadastrar Prefeitura
</a>

    {% load crispy_forms_tags %}
    {% include 'cadastros/list/filters_form.html' %}

<table id="table-lista" class="table table-striped">
    <thead>
        <th>Nome</th>
        <th>Cnpj</th>
        <th>Cidade</th>
        <th>Opções</th>
    </thead>
   <tbody>

    {% for object in object_list %}
    <tr>

        <td>{{object.nome}}</td>
        <td>{{object.cnpj}}</td>
        <td>{{object.cidade}}</td>
        <td>
            <div class="dropdown">
                <button class="btn btn-light btn-sm dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                    <i class="bi bi-gear"></i>
                </button>
                <ul class="dropdown-menu">
                    <li>
                        <a class="dropdown-item link-primary" href="{% url 'editar-prefeitura' object.pk  %}">
                            <i class="bi bi-pencil-square"></i> Editar
                        </a>
                    </li>
                    <li>
                        <a class="dropdown-item link-danger" href="{% url 'excluir-prefeitura' object.pk  %}">
                            <i class="bi bi-trash"></i> Excluir
                        </a>
                    </li>
                </ul>
            </div>
        </td>
    {% empty %}
        <tr>
            <td colspan="3">Nenhum registro encontrado.</td>
        </tr>

    {% endfor %}

   </tbody>
</table>

{% endblock %}

{% block scripts %}
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

<link href="https://cdn.datatables.net/v/bs5/dt-2.1.8/datatables.min.css" rel="stylesheet">
<script src="https://cdn.datatables.net/v/bs5/dt-2.1.8/datatables.min.js"></script>
<script>
    $(document).ready(function() {
        $('#table-lista').DataTable({
            paging: true,          // Ativar paginação
            searching: true,       // Ativar barra de busca
            ordering: true,        // Ativar ordenação
            info: true,            // Mostrar informações ("Mostrando X de Y entradas")
            language: {            // Configurar a linguagem para PT-BR
                "url": "https://cdn.datatables.net/plug-ins/1.11.5/i18n/pt-BR.json"
            }
        });

        // Alterar o input de data no filtro
        $("input[name*=nascimento]").prop("type", "date");
    });
</script>
{% endblock scripts %}