<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <title>Lista de Usuários</title>
</head>
<body>
    <h1>Lista de Usuários</h1>
    <table>
        <thead>
            <tr>
                <th>Username</th>
                <th>Email</th>
                <th>Data de Nascimento</th>
            </tr>
        </thead>
        <tbody>
            {% for user in users %}
                <tr>
                    <td>{{ user.username }}</td>
                    <td>{{ user.email }}</td>
                    <td>{{ user.birth_date }}</td>
                </tr>
            {% empty %}
                <tr>
                    <td colspan="3">Nenhum usuário encontrado.</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</body>
</html>
